extends layout
block vars
 -var title = "create quiz"
block content
 h1 Create Quiz
 
 form(action="/startQuiz"  method="post" enctype="multipart/form-data")
  | Title Of Quiz:
  input(type="text" name="title" required)
  br
  br

  | No Of Players:
  input(type="text" name="noOfPlayers" required)
  br
  br

  | Upload Question:
  input(type="file" name="nameOfFile" accept="json/*" required)
  p(id = "uploadMsg") Upload message
  
  | Total Time:
  | Hours:
  input(type="number" size="1" name="Time"  value='00' min="0" required)
  |  Minutes:
  input(type="number" size="1" name="time" value='01' min="1" max="59" required)
  | Seconds:
  input(type="number" size="1" name="time" value='00' min='0' max='59' required)
  br
  br

  | Coundown:
  |  Minutes:
  input(type="number" size="1" name="time" value='00' min='0' max='59' required)
  | Seconds:
  input(type="number" size="1" name="time" value='00' min='1' max='59' required)
  br
  br

  input(type="submit" value="submit")
  span
  span 
   button(type="button" onclick="location.href='/dashboard'") Cancel
   