doctype html
block vars
html
 head
  title Quiz #{title}
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type= "text/javascript" src= "/javascripts/jquery-2.1.1.min.js")
  script(type= "text/javascript" src= "/javascripts/checkFormat.js")
  block links
  block scripts
 body
  block content
