extends layout
block vars
 - var title = "Login"
block links
block content
  h1 Login to your account
  if error
   p ERROR: #{error}
  form(action="/login" method="POST")
   table(cellpadding=5)
    tr
     td
      b Email:
     td
      input(type="email" name="email" required)
    tr
     td
      b Password: 
     td
      input(type="password" name="password" required)
   br
   br
   input(type="submit" value="Login")